@if (quote()) {
<div style="display:flex;flex-direction:row;align-items:center;margin-bottom:6px">
  <h6 style="margin:0;flex:1">{{title}}</h6>
  <!-- <div class="btn-group btn-group-sm">
    <button
      class="btn btn-sm"
      [ngClass]="deltaFilter() === 'above' ? 'btn-success' : 'btn-secondary'"
      (click)="setFilter('above')"
    >Above</button>
    <button
      class="btn btn-sm"
      [ngClass]="deltaFilter() === 'below' ? 'btn-danger' : 'btn-secondary'"
      (click)="setFilter('below')"
    >Below</button>
  </div> -->
</div>

@for (level of topLevels(); track level.name) {
<div class="level level-column">
  <span style="display: flex; flex-direction: row">
    <span style="display:flex;flex-direction:column;flex:1">
      <span style="flex: 1; font-size: 0.8em;">{{ level.group }}</span>
      <span style="flex: 1; font-size: 0.8em;">{{ level.name }}</span>
    </span>
    <span style="display:flex;flex-direction:column">
      <span style="display: flex; justify-content: flex-end">{{ level.value | number: decimalFormat() }}</span>
      <span [ngClass]="level.delta >= 0 ? 'delta-positive level-delta' : 'delta-negative level-delta'">
        {{ level.delta >= 0 ? '+' : '' }}{{ level.delta | number: decimalFormat() }}
      </span>
    </span>
  </span>
</div>
}
}
